h1
{
color: #FF0000;
font-size: 45px;
}
h2
{
color: #3a2d25;
font-size: 45px;
color: #3a2d25;
color: #3a2d25;
color: #3a2d25; 4px;
}
body
{
    background-color: #a9bdc2;
    text-align: center;
}






</style>